<div class="modal-header">
    <h3 class="modal-title" id="modal-title-metodologias-metodologias">Crear metodología</h3>
</div>

<div class="modal-body" id="modal-body-metodologias">

        <div class="form-group">
            <label for="metodologia" class="control-label">Nombre de metodología:</label>

            <input class="form-control" ng-model="mc.inputNombre" id="metodologia" name="metodologia" style="width: 50%"  placeholder="metodologia" required="" type="text">
            <p ng-show="form.metodologia.$dirty && form.metodologia.$error.required" class="help-block">Debe ingresar un nombre de metodología.</p>

        </div>

        <div class="form-group">
            <label for="cuentaindicador" class="control-label">Nombre de cuenta / indicador:</label>

            <input class="form-control" ng-model="mc.inputCuentaIndicador" id="cuentaindicador" name="cuentaindicador" style="width: 50%"  placeholder="cuenta / indicador" required="" type="text">
            <p class="help-block">Debe ingresar el nombre de la cuenta o indicador evaluado.</p>

        </div>

        <div class="form-group">
            <label for="periodos" class="control-label">Cantidad de periodos:</label>

            <input type="number" ng-model="mc.inputPeriodos" id="periodos" name="periodos" style="width: 10%" min="1" class="form-control" value="1" required="">
            <p class="help-block">Cantidad de periodos más recientes sobre los cuales se evalúa la misma condición.</p>
        </div>

        <div class="form-group">
            <label class="control-label">Tipo de metodología:</label>

            <div class="radio">
                <label><input type="radio" ng-model="mc.selectTipo" name="tipo" value="taxativa">Taxativa: Evaluar condición sobre una empresa</label>
            </div>

            <div class="radio">
                <label><input type="radio" ng-model="mc.selectTipo" name="tipo" value="comparativa">Comparativa: Comparar una empresa con otra</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="operadores">Operador:</label>

            <div>
                <select class="form-control" ng-model="mc.selectOperador" id="operadores">

                    <!--
                    <optgroup label="Operador unario">
                        <option>Operador1</option>
                    </optgroup>

                    <optgroup label="Operador binario">
                        <option>Operador2</option>
                        <option>Operador3</option>
                    </optgroup>
                    -->

                    <option ng-repeat="x in mc.operadores" value="{{x.nombre}}">{{x.nombre}}</option>

                </select>
            </div>
        </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="mc.ok(this);">Crear</button>
    <button class="btn btn-warning" type="button" ng-click="mc.cancel(this);">Cancelar</button>
</div>
