<h1 class="page-header">Indicadores</h1>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <button type="button" class="btn btn-default pull-left" ng-click="ic.openModalAddIndicador();">Agregar Indicador</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="sub-header">Indicadores</h3>
        <div class="table-responsive" id="tblIndicadores" ng-if="ic.showIndicadoresTbl">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Indicador</th>
                    <th>Expresión</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in ic.indicadores">
                    <td>{{x._nombre}}</td>
                    <td>{{x._expresion}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="modalForm.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Agregar Indicador</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputNombre" class="col-lg-2 control-label">Nombre:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group">
                <label for="inputExpresion" class="col-md-2 control-label">Expresión:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="inputExpresion" placeholder="Expresión">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalForm.ok()">Agregar</button>
        <button class="btn btn-warning" type="button" ng-click="modalForm.cancel()">Cancelar</button>
    </div>
</script>