<h1 class="page-header">Indicadores</h1>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <button type="button" class="btn btn-default pull-left" ng-click="ic.openModalAddIndicador();">Agregar Indicador</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="sub-header">Indicadores</h3>
        <div class="table-responsive" id="tblIndicadores" ng-if="ic.showIndicadoresTbl">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Indicador</th>
                    <th>Expresión</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in ic.indicadores">
                    <td>{{x.nombre}}</td>
                    <td>{{x.regla}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>